@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
* {
  font-family: 'Sunflower', sans-serif;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
